<div class="menu-wrap col-md-4 col-lg-4 ng-scope">
    <div class="options col-md-12 col-lg-12 ng-scope">
        <ul class="menu-header">
            <li tabindex="0" class="menu-active menu-full" style="">
                <span>Build</span>
            </li>
        </ul>
    </div>

    <div class="menu-tools col-md-12 col-lg-12" id="">
        <div class="panel-group">
            <div class="box-option box-option-primary col-md-12 col-lg-12 panel panel-default ng-isolate-scope">
                sss
            </div>
        </div>
    </div>
</div>