<style>
    .design-wrapper {
        padding: 0 0;
    }

    .preview-area {
        background: linear-gradient(to bottom,#fff 0,#cfd1d1 90%,#cfd1d1 100%);
        background-color: #fafafa;
        height: 100%;
    }
    .menu-wrap .options ul > .menu-active {
        border-bottom-color: #79d5e2;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        color: #79d5e2;
    }
    .menu-wrap {
        background-color: #262727;height: inherit
    }
    .menu-wrap .menu-header span {
        color: #79d5e2;
        font-size: 22px;
        font-weight: 300;
        height: inherit;
        margin-bottom: -3px;
        margin-top: 3px;
        padding: 12px 0;
        text-align: center;
        transition: color 243ms ease-in-out;
        white-space: nowrap;
    }
    .menu-wrap .options ul>li {
        float: left;
        font-size: 22px;
        font-weight: 300;
        height: inherit;
        margin-bottom: -3px;
        margin-top: 3px;
        padding: 12px 0;
        text-align: center;
        transition: color 243ms ease-in-out;
        white-space: nowrap;
        width: 100%;
    }

</style>
<div class="design-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 100vh">
    <div class="preview-area col-md-8 col-lg-8">
        <div class="hero-image col-md-12 col-lg-12">
            Preview Area
        </div>

    </div>

    <div class="menu-wrap col-md-4 col-lg-4">
        <div class="options col-md-12 col-lg-12">
            <ul class="menu-header">
                <li class="menu-active menu-full">
                    <span>Build</span>
                </li>
            </ul>
        </div>

        <!--<div class="menu-tools col-md-12 col-lg-12" id="">-->
        <!--<div class="panel-group">-->
        <!--<div class="box-option box-option-primary col-md-12 col-lg-12 panel panel-default ng-isolate-scope">-->
        <!--<div class="panel-heading accordionHeadingClass"></div>-->
        <!--<div class="panel-collapse">-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>