div.alert {
    margin-top: 15px;
}

.highlight-common {
    color: #ed1c24;
    font-weight: bold;
}

.count-order {
    background-color: #FF0000;
    float: right;
    padding: 2%;
    border-radius: 50%;
    color: #ffffff;
}